body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 640px;
    width: 360px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.card {
    height: auto;
    width: 20vh;
    background-color: white;
    transition: ease 1s;
}

.btn {
    margin: 5vh 0 5vh 0;
    width: 7.5vh;
    height: auto;
}

.score {
    font-size: 3vh;
    margin: 3vh 0 3vh 0;
}

* {
    touch-action: manipulation;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }


.balance {
    position: absolute;
    font-size: 3vh;
    font-weight: bolder;
    color: black;
}