body {
    background-color: #1E2328;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 7vh;
    background-color: #F9BE08;
}

.logo {
    height: 4vh;
    width: auto;
}

.text {
    font-size: 20px;
    text-decoration: none;
    color: white;
    justify-content: center;
}

.text:hover {
    color: #C50900;
}

.fixed {
    position: fixed;
    color: #009B4D;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 6px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;
}

.change .bar1 {
    transform: translate(0px, 14px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0px, -14px) rotate(-45deg);
} 

.content-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.content-container.shift {
    margin-left: 25vw;
    width: 75vw;
}

.stamp {
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.stamp.date {
    bottom: 20px;
    right: 25px;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    opacity: 0;
    top: 7vh;
    width: 25vw;
    height: 93vh;
    background-color: #F9BE08;
    transition: 0.3s ease;
}

.sidebar.show {
    opacity: 1;
}

ul {
    list-style-type: none;
    width: 25vw;
    height: 93vh;
    background-color: #F9BE08;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: bolder;
    height: calc(93vh / 8);
}

li:hover {
    background-color: #1E2328;
    color: white;

}

a {
    text-decoration: none;
    color: black;
    
}
