body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.matrix-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 690px;
    width: 690px;
    background-color: black;   
    position: relative;
    gap: 6px;
    border: 6px solid black;
}

.button-container {
    height: calc((100vh - 690px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    outline: none;
    font-weight: bolder;
    opacity: 0;
    font-size: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 226px;
    background-color: black;
    box-sizing: border-box;
    gap: 6px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 226px;
    height: 100%;
    gap: 20px;
}

.bar1, .bar2 {
    position: absolute;
    height: 20px;
    width: 200px;
    background-color: #dd2317;
    opacity: 0;
}

.bar1 {
    transform: translate(0px, 0px) rotate(45deg);
}

.bar2 {
    transform: translate(0px, 0px) rotate(-45deg);
}

.circle {
    opacity: 0;
    width: 135px;
    height: 135px;
    background-color: white;
    border-radius: 50%;
    border: 18px solid #0d2a52;
}

.bar1.show {
    opacity: 1;
}

.bar2.show {
    opacity: 1;
}

.circle.show {
    opacity: 1;
}

.win-horizontal-1, .win-horizontal-2, .win-horizontal-3 {
    position: absolute;
    height: 20px;
    width: 650px;
}

.win-horizontal-1 {
    top: 103px;
}

.win-horizontal-2 {
    top: 334px;
}

.win-horizontal-3 {
    top: 567px;
}

.win-horizontal-1.show, .win-horizontal-2.show, .win-horizontal-3.show {
    z-index: 2;
}

.win-horizontal-2.diagonal1 {
    z-index: 2;
    width: 930px;
    transform: rotate(45deg);
}

.win-horizontal-2.diagonal2 {
    z-index: 2;
    width: 850px;
    transform: rotate(-45deg);
}

.win-horizontal-1.vertical1 {
    transform: translate(-232px, 226px) rotate(90deg);
    z-index: 2;
}

.win-horizontal-2.vertical2 {
    transform: translate(0px, 0px) rotate(90deg);
    z-index: 2;
}

.win-horizontal-3.vertical3 {
    transform: translate(232px, -226px) rotate(90deg);
    z-index: 2;
}

* {
    touch-action: manipulation;
}
