body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.matrix-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 281px;
    width: 281px;
    background-color: black;   
    position: relative;
    gap: 4px;
    border: 4px solid black;
}

.button-container {
    height: calc((100vh - 281px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: black;
    color: white;
    height: 20px;
    width: 80px;
    outline: none;
    font-weight: bolder;
    opacity: 0;
    font-size: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 91px;
    background-color: black;
    box-sizing: border-box;
    gap: 4px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 91px;
    height: 100%;
    gap: 20px;
}

.bar1, .bar2 {
    position: absolute;
    height: 8px;
    width: 90px;
    background-color: #dd2317;
    opacity: 0;
}

.bar1 {
    transform: translate(0px, 0px) rotate(45deg);
}

.bar2 {
    transform: translate(0px, 0px) rotate(-45deg);
}

.circle {
    opacity: 0;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    border: 8px solid #0d2a52;
}

.bar1.show {
    opacity: 1;
}

.bar2.show {
    opacity: 1;
}

.circle.show {
    opacity: 1;
}

.win-horizontal-1, .win-horizontal-2, .win-horizontal-3 {
    position: absolute;
    height: 8px;
    width: 270px;
}

.win-horizontal-1 {
    top: 42px;
}

.win-horizontal-2 {
    top: 137px;
}

.win-horizontal-3 {
    top: 232px;
}

.win-horizontal-1.show, .win-horizontal-2.show, .win-horizontal-3.show {
    z-index: 2;
}

.win-horizontal-2.diagonal1 {
    z-index: 2;
    width: 380px;
    transform: rotate(45deg);
}

.win-horizontal-2.diagonal2 {
    z-index: 2;
    width: 380px;
    transform: rotate(-45deg);
}

.win-horizontal-1.vertical1 {
    transform: translate(-95px, 94px) rotate(90deg);
    z-index: 2;
}

.win-horizontal-2.vertical2 {
    transform: translate(0px, 0px) rotate(90deg);
    z-index: 2;
}

.win-horizontal-3.vertical3 {
    transform: translate(95px, -96px) rotate(90deg);
    z-index: 2;
}

* {
    -webkit-animation: none;
    animation: none;
    touch-action: manipulation;
}

html, body {
    height: 100%;
    max-height: 100vh; 
    overflow-x: hidden; 
    overscroll-behavior: none; 
}

