body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.matrix-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 690px;
    width: 690px;
    background-color: black;   
    position: relative;
    gap: 6px;
    border: 6px solid black;
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 226px;
    background-color: black;
    box-sizing: border-box;
    gap: 6px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 226px;
    height: 100%;
    gap: 20px;
}

.bar1, .bar2 {
    position: absolute;
    height: 20px;
    width: 200px;
    background-color: #dd2317;
    opacity: 0;
    transition: opacity 0.5s ease-out; 
}

.bar1 {
    transform: translate(0px, 0px) rotate(45deg);
}

.bar2 {
    transform: translate(0px, 0px) rotate(-45deg);
}


.circle {
    opacity: 0;
    width: 135px;
    height: 135px;
    background-color: white;
    border-radius: 50%;
    border: 18px solid #0d2a52;
    /* transition: opacity 0.5s ease-out;  */
}

.bar1.show {
    opacity: 1;
}

.bar2.show {
    opacity: 1;
}

.circle.show {
    opacity: 1;
}
