body {
    background-color: #1e1ff6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 130px;
    overflow: hidden;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    margin: 0;
}

.button-container {
    gap: 30px;
}

.btn {
    width: 150px;
    height: 80px;
    border-top-right-radius: 25% 50%;
    border-bottom-right-radius: 25% 50%;
    border-top-left-radius: 25% 50%;
    border-bottom-left-radius: 25% 50%;
    border: none;
    outline: none;
    font-weight: bold;
}

.btn.start {
    background-color: #00effe;
}

.btn.stop {
    background-color: #ff00ce;
}

* {
    touch-action: manipulation;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}